replicaCount: 1

image:
  repository: ghcr.io/udl-tf/tourney-controller
  tag: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

rbac:
  create: true

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

resources: {}

priorityClassName: ""
nodeSelector: {}
tolerations: []
affinity: {}

extraEnv: []
extraEnvFrom: []
extraVolumes: []
extraVolumeMounts: []

controllerConfig:
  namespace: ""
  pollInterval: 30s
  chartPath: oci://ghcr.io/udl-tf/charts/tf2chart
  chartValuesFile: /etc/tourney/tf2-values.yaml
  matchStatuses:
    - 0
  divisionFilters: []
  defaultMap: tfdb_octagon_odb_a1
  hostNetwork: false
  nodeIPPreference: external-first
  externalTrafficPolicy: Cluster
  notificationsEnabled: true
  notificationsLinkFormat: /matches/%d

database:
  host: postgres
  port: "5432"
  name: udl
  user: postgres
  sslMode: disable
  maxOpenConns: 10
  maxIdleConns: 5
  connMaxLifetime: ""
  password: ""
  passwordKey: DB_PASSWORD
  existingSecret:
    name: ""
    key: ""
    userKey: ""

ports:
  game: "30000-30299"
  sourcetv: "30300-30599"
  client: "40000-40299"
  steam: "29000-29299"

srcds:
  tickRate: 128
  maxPlayersOverride: 0
  staticToken: ""
  staticTokenSecret:
    name: ""
    key: ""
  passwordLength: 10
  rconLength: 46

steam:
  # Steam Web API configuration for automatic SRCDS token generation
  apiKey: ""
  apiKeySecret:
    # Use existing secret for Steam API key instead of plain text
    name: ""
    key: "api-key"
  appId: 440  # TF2 App ID
  autoTokens: false
  tokenCleanup: false
  tokenMemoTemplate: "UDL Match %d Round %d"

tf2Chart:
  values: {}
